<%- model_class = Question -%>
  <div class="page-header">
    <h1>Preguntas</h1>
  </div>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
            <th>id</th>
            <th>Puntajes</th>
            <th>Categorias</th>
            <th>Descripciones</th>
            <th>Letras</th>
        </tr>
      </thead>
      <tbody>
       <%= render @questions %>
      </tbody>
      <tfoot>
        <tr>
          <td><%= link_to image_tag('nuevo.png', :tile  => "Mostrar Equipos"),  new_question_path,  :remote => true %></td>
        </tr>
      </tfoot>
    </table>