<%- model_class = Sheet -%>
	<div class="page-header">
  		<h1>Fichas</h1>
		<table class="table table-bordered table-hover" >
	    	<caption>
	    		<h3>Informacion</h3>
	    	</caption>
	    	<thead>
	    		<tr class="success">
	    			<th>Id</th>
	    			<th>Codigo</th>
	    			<th>Programa</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr class="success">
				    <td><p><%= @sheet.id %></p></td>
				    <td><p><%= @sheet.code %></p></td>
				    <td><p><%= @sheet.program_id %></p></td>    
	    		</tr>
	    	</tbody>
	    </table>
	</div>
