<%- model_class = Answer -%>
	<div class="page-header">
  		<h1>Repuestas</h1>
		<table class="table table-bordered table-hover" >
	    	<caption>
	    		<h3>Informacion</h3>
	    	</caption>
	    	<thead>
	    		<tr class="success">
	    			<th>Id</th>
	    			<th>Repuesta</th>
	    			<th>Pregunta</th>
	    			<th>Letra</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr class="warning">
				    <td><p><%= @answer.id %></p></td>
				    <td><p><%= @answer.answer %></p></td>
				    <td><p><%= @answer.question_id %></p></td>
				    <td><p><%= @answer.letter %></p></td>
				    
	    		</tr>
	    	</tbody>
	    </table>
	</div>
