<h1><%= image_tag("archive.png", :size => "60x60") %></h1>

<div class="row">
    <div class="span6">
    	<div class="well well-large">
	    	<p>
		      <strong>Proyecto Realizado por: </strong><br><br>

		    	 Flor Maria<br>
		    	 Administradora del complejo sur SENA<br><br>
		    	 Jose Gregorio Avila Cerezo<br>
		    	 Programador Analista de Sistemas<br><br>
		    	 Alejandro Saldarriaga Alzate<br>
		    	 Programador Analista de Sistemas<br><br>
		    	 <p><b><%= link_to 'Producto SENA, Centro de Formación en Diseño, Confección y Moda', 'http://senadisenoconfeccionymoda.blogspot.com/', :id => 'linkto' %></b></p><br>
		    	 Regional Antioquia, Itaguí- Calatrava © 2013
	    	</p> 
	    	<p>
	    	  <button class="btn btn-mini pull-right" onclick="$.lazybox.close()">Cerrar</button>
	    	</p>
        </div>

    </div>
</div>
