<%- model_class = Responsible -%>
<div class="page-header">
  <h1>Responsible</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>surname</th>
      <th>extension</th>
      <th>document_id</th>
      <th>identification</th>
      <th>genre</th>
      <th>area_center_id</th>
      <th>phone</th>
      <th>created_at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @responsibles %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nuevo Responsable', new_responsible_path, :remote => true %></td>
    </tr>
  </tfoot>
</table>